name: ESLint 

on: [push]

jobs:
  ESLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with: 
          node-version: '15.x'
      - name: 'install'
        run: make install
      - name: 'jest'
        run: make test